/* Global */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.big-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 120px;
  opacity: 0.32;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 44px;
}

.category {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.paragraph {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.azul { color: #1A3263; }
.limon { color: #FAB95B; }
.orange { color : #FF7657 ; }
.almendra { color: #FBEED7; }

.light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.semi {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.semi-italic {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.container {
  margin: 0 10%;
}

/* Icons */

.icon-twitter {
  display: block;
  width: 24px;
  height: 20px;
  margin: 0 4px;
  background-image: url('../img/twitter.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-share {
  display: block;
  width: 18px;
  height: 20px;
  margin: 0 4px;
  background-image: url('../img/share.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 8.5px;
}

.icon-exit {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url('../img/exit.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100px;
}

.header-logo {
  font-size: 28px;
  font-family: 'Arbutus Slab', serif;
}

.header-links {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.header-links-el:first-child {
  margin-right: 24px;
}

/* Home */

.spitch {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 44px;
}

.main {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Search */

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  margin: 20px 0;
}

.search-bar {
  padding-left: 12px;
  border-radius: 8px;
  border: 0px solid transparent;
  width: 360px;
  height: 44px;
  background-color: #FAB95B;
  font-size: 22px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  outline: none;
}

.search-btn {
  border: 0px solid transparent;
  width: 24px;
  height: 24px;
  padding: 4px 0;
  margin-left: 8px;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

/* Result */

.result {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.nickname {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.charts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 32px;
}

.graphics {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 265px;
  height: 190px;
  position: relative;
  list-style: none;
}

.graphics-bars {
  width: 100%;
  height: 30px;
  background-color: #FAB95B;
  transition: ;
  will-change: transform;
}

.numbers {
  margin-left: 32px;
  list-style: none;
}

.result-number {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 36px;
}

.result-number::before {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: #FAB95B;
  position: absolute;
  left: -16px;
  bottom: 14px;
}

.meal {
  margin: 24px 0;
  padding: 16px 0;
}

.meal-name {
  opacity: 0.12;
  line-height: 110px;
}

/* ERROR 404 */

.error404 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 320px;
}

.error-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 300px;
  height: 30%;
}

.error-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  position: relative;
}

.error-svg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 3.5s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: floatingFood linear infinite 1.6s;
  will-change: transform;
}

.error4-1, .error4-2 {
  background-image: url("../img/error-4.svg");
}

.error0 {
  background-image: url("../img/error-0.svg");
}

.error0 { animation-delay: 0.2s; }
.error4-2 { animation-delay: 0.4s; }

.error-shadow {
  display: block;
  width: 20%;
  height: 4px;
  background-color: #333;
  opacity: 0.32;
  filter: blur(2px);
  border-radius: 100%;
  transition: 3.5s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  bottom: 0;
  animation: floatingShadow linear infinite 1.6s;
  will-change: transform;
}

.error-image-container-1 .error-shadow, .error-image-container-3 .error-shadow{
  left: 63%;
}

.error-message {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100px;
}

/* Button */

.interactions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 16px 0;
}

.btn-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  height: 44px;
  border-radius: 100px;
  background-color: #FF7657;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF7657;
  width: 44px;
  height: 44px;
  margin-left: 16px;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

/* Illustrations */

.illustrations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 30vh;
}

.illu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 180px;
  position: relative;
}

.illus {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 3.5s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: floatingFood linear infinite 1.6s;
  will-change: transform;
}

.shadows {
  display: block;
  width: 20%;
  height: 4px;
  background-color: #333;
  opacity: 0.32;
  filter: blur(2px);
  border-radius: 100%;
  transition: 3.5s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  bottom: 0;
  animation: floatingShadow linear infinite 1.6s;
  will-change: transform;
}

.illus-1 {
  background-image: url('../img/color/burger_color.svg');
  width: 80%;
  animation-delay: 0.4s;
}
.illus-2 {
  background-image: url('../img/color/ramen_colors.svg');
}
.illus-3 {
  background-image: url('../img/color/taco_colors.svg');
  animation-delay: 0.1s;
}

.shadow-1 { animation-delay: 0.4s }
.shadow-2 { left: 36%; }
.shadow-3 { animation-delay: 0.1s }

/* Modale */

.modale {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(251, 237, 213, 0.32);
  z-index: 10;
}

.modale-share {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 70%;
  height: auto;
  background-color: #fff;
  z-index: 15;
  border-radius: 8px;
  border: 2px solid rgba(250, 184, 92, 0.32);
}

.modale-share-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.modale-share-exit {
  margin: 3% 4%;
  cursor: pointer;
}

.modale-share-message {
  width: 92%;
  margin: 0 4%;
  background-color: rgba(251, 237, 213, 0.32);
}

.modale-share-example {
  margin: 5px 14px;
}

.twitter-mention-button {
  margin: 3% 4%;
}

.modale-share-title { margin: 3% 4%; }

/* About */

.explanations p {
  line-height: 1.5;
}

.uses-list {
  list-style: none;
}

.uses-list li {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 36px;
  color: #1A3263;
}

.uses-list li:hover {
  color: #FAB95B;
}

.uses-list li::before {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: #FAB95B;
  position: absolute;
  left: -16px;
  bottom: 14px;
}

.code p {
  margin-bottom: 32px;
}

/* Contact */

.team {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 70vh;
}

.team-member {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.member-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 70px;
  height: 70px;
  margin-right: 32px;
  position: relative;
}

.member-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 3.5s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: floatingFood linear infinite 1.6s;
  will-change: transform;
}

.team-member-1 .member-image {
  background-image: url('../img/color/coffee_color.svg');
  animation-delay: 0.3s;
}
.team-member-2 .member-image { background-image: url('../img/color/taco_colors.svg'); }
.team-member-3 .member-image {
  background-image: url('../img/error-0.svg');
  animation-delay: 0.2s;
}
.team-member-4 .member-image {
  background-image: url('../img/color/broccoli_colors.svg');
  animation-delay: 0.5s;
}
.team-member-5 .member-image {
  background-image: url('../img/color/pizza_colors.svg');
  animation-delay: 0.1s;
}

.member-shadow {
  display: block;
  content: "";
  width: 20%;
  height: 4px;
  background-color: #333;
  opacity: 0.32;
  filter: blur(2px);
  border-radius: 100%;
  transition: 3.5s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  bottom: -24px;
  animation: floatingShadow linear infinite 1.6s;
  will-change: transform;
}

.team-member-1 .member-shadow {
  animation-delay: 0.3s;
  left: 31%;
}
.team-member-3 .member-shadow { animation-delay: 0.2s; }
.team-member-4 .member-shadow { animation-delay: 0.5s; }
.team-member-5 .member-shadow { animation-delay: 0.1s; }

.member-name {
  display: block;
  margin: 8px 0;
  color: #1A3263 ;
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.member-role {
  margin-left: 30px;
}

.member-name:hover { color: #FF7657 ;}

/* Responsive */

@media screen and (max-width: 500px) {
  .member-name {
    font-size: 22px;
  }

  .member-role {
    font-size: 16px;
    margin-left: 8px;
  }

  .member-image-container {
    margin-right: 12px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    margin: 0 5%;
  }

  .spitch {
    text-align: left;
  }

  .search {
    justify-content: space-between;
    flex-direction: column;
    height: 110px;
  }

  .search-bar {
    width: 100%;
  }

  .search-btn {
    content: "Find a meal";
    border: 0px solid transparent;
    border-radius: 100px;
    width: 186px;
    height: 44px;
    margin: 0;
    padding: 5px 26px 6px 23px;
    background-image: none;
    background-color: #1A3263;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
  }

  .graphics {
    width: 150px;
  }

  .numbers {
    margin: 12px;
  }

  .phrase {
    display: none;
  }
}

/* Animations */

@keyframes floatingFood {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatingShadow {
  0% {
    transform: scaleX(1);
    
  }
  50% {
    transform: scaleX(2);

  }
  100% {
    transform: scaleX(1);

  }
}